# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать файлы настроек IDE
.vscode/
.idea/
*.code-workspace

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорировать файлы журналов и временные файлы
*.log
*.tmp

# Игнорировать файлы конфигурации окружения
.env
venv/

df_filtered.xlsx
data.xlsx

# Игнорирование служебного каталога CatBoost
catboost_info/